.table_row {
  height: 55px !important;
}

.table_row td {
  padding: 5px !important;
  text-align: center;
}

.table_row:nth-child(2n) td {
  background-color: #d3d3d3 !important;
}

.table_row:nth-child(2n-1) td {
  background-color: #ececec !important;
}
